@import 'variables.import'

section.filters
  width 100%
  background gray
  height 0
  opacity 0
  overflow-y hidden
  overflow-x auto
  border-bottom-left-radius border-radius-large
  border-bottom-right-radius border-radius-large
  box-shadow 0 0px 10px rgba(0, 0, 0, 0.7)
  transition 0.5s
  position relative

  &.open
    height filters-height
    opacity 1

  #advanced-search-form
    color white
    display table-row

    .add-filter
      display table-cell
      font-size 16px
      opacity 0.35
      cursor pointer
      i
        position: relative
        top: 22px
        left: 20px

    .filter
      v-padding = 20px
      color = lighten(blue, 30%)

      display: table-cell
      height: filters-height - v-padding
      padding: (1/2)*v-padding 15px
      position: relative
      transition 0.5s

      // Relatively positioned elements aren't clipped
      &:first-of-type
        border-bottom-left-radius border-radius-large

      box-shadow: 10px 0px 45px rgba(0, 0, 0, 0.7)
      background-color: color // #444449
      &::after
        width = 10px
        height = filters-height
        arrow-right(width, height, color)

      &.new-filter
        display block
        width 0
        padding 0
        opacity 0
        visibility hidden
        &.open
          opacity 1
          padding: (1/2)*v-padding 15px
          visibility visible
          width 144px

        // Must be an ID, or animation won't work (form problem?)
        #filterChooser
          background transparent
          color white

      label
        margin-bottom 10px

      label, select, input
        display block

      .chzn-drop
        color #444444
        min-width 166px

      .chzn-single
        border-radius border-radius-small
        height 28px
        line-height 28px

      .chzn-container-single
        .chzn-single div
          top 2px


