@import 'variables.import'

section.filters
  width 100%
  background gray
  height 0
  opacity 0
  // overflow-y hidden
  // overflow-x auto
  border-bottom-left-radius border-radius-large
  border-bottom-right-radius border-radius-large
  box-shadow 0 0px 10px rgba(0, 0, 0, 0.7)
  transition 0.5s

  &.open
    height filters-height
    opacity 1

  #advanced-search-form
    color white
    display table-row

    .filter
      v-padding = 20px
      color = lighten(blue, 30%)

      display: table-cell
      height: filters-height - v-padding
      padding: (1/2)*v-padding 15px
      position: relative

      // Relatively positioned elements aren't clipped
      &:first-of-type
        border-bottom-left-radius border-radius-large

      box-shadow: 10px 0px 45px rgba(0, 0, 0, 0.7)
      background-color: color // #444449
      &::after
        width = 10px
        height = filters-height
        arrow-right(width, height, color)

      label
        display block
        margin-bottom 10px

      .chzn-drop
        color #444444
        min-width 166px

      .chzn-single
        border-radius border-radius-small
        height 28px
        line-height 28px

      .chzn-container-single
        .chzn-single div
          top 2px


