@import nib

/* Colors
========= */

blue = #338ed5
blue-accent = #2270ab
white-translucent = rgba(240,240,240,0.6)
overlay-translucent = rgba(46,46,44,0.5)

gray-darker  = lighten(#000, 13.5%) // #222
gray-dark    = lighten(#000, 20%)  // #333
gray         = lighten(#000, 33.5%) // #555
gray-light   = lighten(#000, 60%)  // #999
gray-lighter = lighten(#000, 93.5%) // #eee

light-grey = gray-lighter

/*
brand-primary = #5cb85c
brand-primary-light = lighten(brand-primary, 40%)
brand-success = #5cb85c
brand-info =    #67a7e2
brand-warning = #ebb263
brand-danger =  #d9534f
*/

selection-color = rgba(0,90,160,0.2)
highlight-color = rgba(240,200,0,0.2)

/* Style used in pdf-text-highlight.coffee as well, keep it in sync */
/* TODO: Refactor these styles for better semantics */
box-shadow-background = rgba(14,41,57,0.05)
box-shadow-background-default = rgba(14,41,57,0.08)
box-shadow-border = rgba(14,41,57,0.12)
box-shadow-shadow = rgba(14,41,57,0.34)

/* Colors used in annotator icons */
icon-gray = rgb(109, 117, 127)
icon-gray-hover = rgb(20, 24, 29)
icon-gray-inactive = rgb(205, 210, 216)
icon-gray-active = rgb(80, 87, 94)

/* Colors used in UI elements */
bg-blue = #4995c5
border-blue = #2b729c
hover-blue = #327cab

/* Sizes
======== */

header-height = 45px
simple-margin-top = 75px

display-page-loading-width = 400px
display-page-loading-height = 400px

default-line-height = 1.2
