<template name="footer">
  <footer class="{{indexFooter}} {{noIndexFooter}} {{currentPage}} {{publicationDisplayed}}">
    <ul class="subpages">
      <li><a href="{{aboutPath}}">About</a></li>
      <li><a href="{{helpPath}}">Help</a></li>
      <li><a href="{{privacyPath}}">Privacy</a></li>
      <li><a href="{{termsPath}}">Terms</a></li>
    </ul>
    <ul class="connect">
      <li><a href="https://www.facebook.com/ApolloIntelligence">Facebook</a></li>
      <li><a href="https://twitter.com/ApolloIntelligence">Twitter</a></li>
      <li><a href="mailto:hello@apollointel.io">Contact</a></li>
    </ul>
  </footer>
</template>

<template name="baseFooter">
  {{#unless searchActive}}
    {{> footer}}
  {{/unless}}
</template>
