<template name="help">
  <div class="simple">
    <h2>Help</h2>
    <p>
      Apollo is still in heavy development and we have not yet had time to write any help content for you.
      In the meantime feel free to <a href="mailto:hello@apollo.org">contact us</a> or open a
      <a href="https://github.com/apollo/apollo/issues/new">ticket</a> if you have any issue using it.
    </p>
    <p>
      If you would like to <a href="https://github.com/apollo/apollo/blob/master/CONTRIBUTING.md">contribute
      to Apollo</a>, writing good introductory material for novice users would be a great starting point as well!
    </p>
  </div>
</template>
