<template name="advancedSearch">
  <section id="advancedSearch" class="row filters {{isOpen}}">
    <form id="advanced-search-form">
      <div class="filter">
        <label for="filterForFind">Find</label>
        <select type="text" id="filterForFind" data-placeholder="Select a type">
          <option selected>anything</option>
          <option>Entities</option>
          <option>Documents</option>
          <option>Users</option>
        </select>
      </div>
      <div class="filter">
        <label for="filterForContaining">Containing</label>
        <input type="text" id="filterForContaining" />
      </div>
      <!-- <div class="filter">
        <label for="title">Title contains</label>
        <input type="text" id="title" disabled="disabled" />
      </div> -->
      <!-- <div class="filter">
        <label for="publication-date" class="label-slider">Publication year</label>
        <input type="text" id="publication-date" />
        <div class="clearfix"></div>
        <div id="date-range"></div>
      </div> -->
    </form>
  </section>
</template>
